:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  color: #1a1a1a;
  border: 0;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: #979dfd;
  transition: background-color 0.25s;
}

button.is-playing {
  background-color: #979dfd;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-list {
  display: flex;
  background-color: #ffffff;
  position: absolute;
  padding: 3px;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 11px 0px rgba(34, 60, 80, 0.2);
}

.arrow-next-icon {
  transform: rotate(180deg);
}
